# El proveedor de los modelos
MODEL_PROVIDER="openai"

# El modelo a utilizar
MODEL_ID="llama3.2"

# La URL del endpoint a llamar
ENDPOINT_URL="http://host.docker.internal:11434/v1"

# La API Key (puede ser fake en el caso de Ollama o Docker Model Runner)
API_KEY="ollama_fake_apikey"