# Github Models
# ENDPOINT_URL="<GITHUB_ENDPOINT_URL>"
# # ENDPOINT_URL="<AZURE_ENDPOINT_URL>"
# API_KEY="<GITHUB_API_KEY>"
# MODEL_FOR_VISION="<GITHUB_MODEL_FOR_VISION>"
# IMAGE_GENERATION_MODEL="<GITHUB_IMAGE_GENERATION_MODEL>"

# Open AI
ENDPOINT_URL="<OPENAI_ENDPOINT_URL>"
API_KEY="<OPENAI_API_KEY>"
MODEL_FOR_VISION="<OPENAI_MODEL_FOR_VISION>"
IMAGE_GENERATION_MODEL="<OPENAI_IMAGE_GENERATION_MODEL>"

# Ollama
# ENDPOINT_URL="<OLLAMA_ENDPOINT_URL>"
# API_KEY="<OLLAMA_API_KEY>"
# MODEL="<OLLAMA_MODEL>"
