# El modelo que quieres utilizar para generar los embeddings (los vectores que representan la información)
EMBEDDINGS_MODEL_ID=your_embeddings_model_id
# El endpoint de la API del proveedor que quieres utilizar
ENDPOINT_URL=your_endpoint_url
# La API key para autenticarte en el proveedor si fuera necesario
API_KEY=your_api_key
# 🗄️ Qdrant Vector Store
QDRANT_URL=http://qdrant:6333